{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Contacto</h1>
  <p>Dirección: Calle Falsa 123, Malaga, España</p>
  <p>Teléfono: +34 123 456 789</p>
  <p>Email: alanturing@panaderia.com</p>
  <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1022.325547203584!2d-4.55535886207262!3d36.740458798267404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f10963ce0f3d%3A0x310ae7d4bb2e8f7b!2sCPIFP%20Alan%20Turing!5e1!3m2!1ses!2ses!4v1760720532288!5m2!1ses!2ses" 
    width="720" height="568" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
{% endblock %}
