{% extends 'base.html' %}

{% load static %}

{% block content %}
  <h1>El Dulce Enigma</h1>
  <img class="imagen-dulce" src="{% static "images/dulce.jpg" %}" alt="Dulce Enigma" />
  <h2>Panadería y pastelería artesanal</h2>
  <p>Bienvenidos a El Dulce Enigma, donde la tradición y la innovación se unen 
    para crear delicias irresistibles. Nuestra panadería y pastelería artesanal ofrece una variedad 
    de productos horneados frescos, elaborados con los mejores ingredientes y un toque de creatividad.</p>
{% endblock %}
