{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Ofertas Especiales</h1>
  <p>¡Descubre nuestras ofertas exclusivas en productos seleccionados!</p>
  <ul>
    <li>Pan artesanal: 20% de descuento</li>
    <li>Croissants rellenos: 15% de descuento</li>
    <li>Tartas y pasteles: 10% de descuento</li>
    <li>Si te llamas Luis, trae tu DNI para conseguir un 5% de descuento adicional en todos nuestros productos.</li>
  </ul>
  <p>Visítanos y aprovecha estas increíbles ofertas por tiempo limitado.</p>
{% endblock %}