{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Productos</h1>
    <p>Explora nuestra variedad de productos frescos y deliciosos, hechos con ingredientes de la más alta calidad.</p>
    <ul>
        <li>Baguettes crujientes</li>
        <li>Croissants mantecosos</li>
        <li>Tartas artesanales</li>
        <li>Pan integral saludable</li>
        <li>Dulces tradicionales</li>
        <li>Galletas de avena</li>
        <li>Bizcochos esponjosos</li>
    </ul>
    <p>Visítanos para disfrutar de nuestros productos recién horneados cada día.</p>
{% endblock %}